{% load static %}
<html dir="rtl">
    <head>
        <title>ویرایش #{{movie.title}} </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
        <script src="{% static 'movies/bootstrap-4.1.3/js/bootstrap.min.js' %}" ></script>
    </head>
    
    <div class="container">
        <h1>ویرایش #{{movie.title}} </h1>
        <form id="edit_form" method="POST" action="{% url 'movies_edit' movie.id %}">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="title">عنوان</label>
                <input type="text" name="title" class="form-control" value="{{ movie.title }}" />
            </div>
            
            <div class="form-group">
                <label for="synopsis">خلاصه داستان</label>
                <textarea name="synopsis" rows="5" class="form-control" >{{ movie.synopsis }}</textarea>
            </div>

            <div class="form-group">
                <label for="actors">بازیگران</label>
                <input type="text" name="actors" class="form-control" value="{{ movie.actors }}" />    
            </div>

            <div class="form-group">
                <label for="genre">ژانر</label>
                <input type="text" name="genre" class="form-control" value="{{ movie.genre }}" />    
            </div>

            <div class="form-group">
                <label for="duration">مدت زمان</label>
                <input type="text" name="duration" class="form-control" value="{{ movie.duration }}" />
                <small class="form-text text-muted">بر حسب ثانیه</small>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-secondary" href="{% url 'movies_index' %}"> بازگشت</a>
                </div>
                <div class="col-md-6" style="text-align: right;">
                    <button type="submit" class="btn btn-primary">ثبت </button>
                </div>
            <div>

        </form>
    </div>

</html>